/*common styles*/
html {
    font-size: 14px;
}

body {
    font-family: 'Josefin Slab', serif; 
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: black;
}

p, ul {
    font-size: 1.5rem;
}

ul {
    line-height: 2rem;
    padding-left: 30px;
}

a {
    color: #10789E;
    text-decoration: none;
}

a:hover {
    color: #10789E;
}

.main {
    padding-top: 10px;
}

.container {
    padding: 40px 80px 40px;
}

.row {
    margin: auto;
}

header nav {
    text-align: right;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, .95);
    text-align: right;
    padding: 20px 80px;
    z-index: 1;
}

header .menu {
    background: rgba(80, 177, 210, 0.95);
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

header .menu.closed {
    opacity: 0;
    visibility: hidden;
}

header .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    opacity: 1;
    visibility: visible;
    transition: transform 0.5s, opacity 0.5s;
}

header .menu.closed .overlay {
    opacity: 0.4;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    visibility: hidden;
}

header .menu a {
    color: white;
    display: block;
    font-size: 4rem;
    padding: 8px;
    font-weight: 300;
}

header .menubtn {
    cursor: pointer;
}

header .closebtn {
    text-align: right;
    padding: 20px 80px;
    cursor: pointer;
}


footer {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1.1rem;
}

footer a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 10px;
    color: black;
}

footer a:hover {
    text-decoration: none;
    color: black;
}



/*about section on home page*/
.about .container {
    padding: 80px;
} 

.about p {
    padding-top: 10px;
}

.about img.profile {
    width: 100%;
    display: block;
    margin: auto;
}

.about img.text {
    width: 100%;
    margin-left: 0;
    max-width: 16rem;
}

.about .button {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}




/*case studies*/
.case-study.purple {
    background-color: #776bb7;
}

.case-study.teal {
    background-color: #0d82a7;
}

.case-study.blue {
    background-color: #73A6E2;
}

.case-study.green {
    background-color: #87c148;
}

.case-study .container {
    padding-bottom: 0px;
}

.case-study .title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 2.2rem;
}

.case-study .subtext {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    opacity: .50;
    font-size: 1rem;
    padding-top: 5px;
}

.case-study .description {
    font-weight: 300;
    color: #fff;
}

.case-study .button {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: rgba(255,255,255,1.0);
    background-color: rgba(255,255,255,0.15);
    border-radius: 4px;
    border: 1px solid #FFF;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 40px;
}

.case-study .thumb {
    position: relative;
    width: 100%;
}


/*shots*/
.shots {
    padding-top: 2rem;
    display: inline-block;
}

.samples h5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0em;
    color: rgba(45,45,45,.6);
    font-size: 1.2rem;
}

.samples .container {
    padding: 70px 80px 70px;
}

.shot img {
    width: 95%;
    margin: auto;
    display: block;
}

.shot:first-child img {
    margin-left:0;
}

.shot:last-child img {
    margin-right:0;
}


/*about page*/
#about .banner {
    width: 100%;
    height: 500px;
    background-image: url("../images/about/banner.jpg");
    background-size: cover;
    background-position: 50% 46%;
    margin-bottom: 10px;
}

#about h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-size: 2.2rem;
    margin-top: 0px;
}

#about .container {
    padding-bottom: 40px;
}

ul li {
    padding-left: 10px;
    margin: 10px 0px;
}

.collage {
    margin-top: 20px;
}

.collage .picture {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    .collage .picture {
        height: 160px;
        width: 160px;
    }
}

@media screen and (max-width: 992px) {
    .collage .picture {
        height: 120px;
        width: 120px;
    }
}

@media screen and (max-width: 768px) {
    .collage .picture {
        height: 220px;
        width: 47%;
    }

    #about .banner {
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    .collage .picture {
        height: 300px;
        width: 100%;
        background-position: 50%;
    }
}

@media screen and (max-width: 460px) {
    .collage .picture {
        height: 150px;
        width: 100%;
        background-position: 50%;
    }
}

/*media queries*/
/*tablet*/
@media screen and (max-width: 992px) {
    .about img.profile {
      margin-top: 20px;
    }

    .shot img {
        width: 100%;
        margin-bottom: 20px;
    }

    .shot:first-child img {
        margin-left: auto;
    }
    
    .shot:last-child img {
        margin-right: auto;
    }

    .samples .container {
        padding: 40px 80px 40px;
    }
}

/*mobile*/
@media screen and (max-width: 768px) {
    footer a img.text {
        width: 50%;
    }
}