<div id="about" class="main" ng-controller="AboutController">

  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="banner"></div>
        </div>
        <div class="col-sm-12">
          <p>Hi, I'm Neha! Creative, designer, &#38; wannabe interior designer. I'm passionate about a lot of things, but specifically travel, organization, the environment, and doing good in the world. I aim to make the world a better place through design and empowerment. Get to know me and you'll quickly learn that I have an insatiable desire to learn and grow, and that I have a small obsession with boba, DIY projects, and the ocean. I can usually be found cleaning something, practicing new zumba routines, or at my local Trader Joes.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Fun Facts</h2>
          <ul>
            <li>Proud wife &#38; boymom.</li>
            <li>Zumba instructor as of 2018. <a href="https://www.zumba.com/en-US/profile/neha-sohail/1616463">Come say hi and attend one of my classes!</a></li>
            <li>Certified scuba diver.</li>
            <li>Interior design enthusiast. Always searching for my next big project!</li>
            <li>Meyer-Briggs Personality: ESFJ</li>
            <li>UX Leadership Strength: The Foreman</li>
          </ul>
        </div>

        <div class="col-sm-6">
          <div class="collage">
            <div class="picture" style="background-image:url({{picture.image_url}});" ng-repeat="picture in collage"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Work Experience</h2>
          <p>Want to learn more about my skills and experience? View my resume here.</p>
        </div>
      </div>
    </div>
  </section> -->

</div>
