<div id="about" class="main" ng-controller="AboutController">

  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="banner"></div>
        </div>
        <div class="col-sm-12">
          <p>Hi, I'm Neha — Thanks for stopping by! At work, I'm most energized when the problem is messy and the path forward isn't obvious. I like zooming out to see how systems connect, then zooming in to get the details right.</p>
          <p>Outside of work, you'll likely find me with a boba in hand, diving into a DIY project, or exploring the aisles of Trader Joe's.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h2>Fun Facts</h2>
          <ul class="emoji-list">
            <li><span class="emoji-anchor">✌️</span> Side gig: mom of two</li>
            <li><span class="emoji-anchor">💃</span> Zumba instructor</li>
            <li><span class="emoji-anchor">🤿</span> Certified scuba diver</li>
            <li><span class="emoji-anchor">🏡</span> Home project addict</li>
            <li><span class="emoji-anchor">🎾</span> Tennis lover</li>
            <li><span class="emoji-anchor">🙋‍♀️</span> <a href="https://www.16personalities.com/esfj-personality" target="_blank">ESFJ</a> (Consul)</li>
          </ul>
        </div>

        <div class="col-sm-12 col-md-8">
          <div class="collage">
            <div class="picture" style="background-image:url({{picture.image_url}});" ng-repeat="picture in collage"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Work Experience</h2>
          <p>Want to learn more about my skills and experience? View my resume here.</p>
        </div>
      </div>
    </div>
  </section> -->

</div>
