<div class="main">

  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img class="text" src="images/well-hello-there-text.png">
          <!-- <h1>Well Hello There!</h1> -->
          <p>I'm Neha, product designer currently working at Capital One. I specialize in UI/UX, design systems and front end development. My approach to design goes beyond visual aesthetics—it’s holistic, user-centered and collaborative. I’m passionate about creating simple solutions that solve needs for both the customer and business. My biggest strength is my background in both development and design, allowing me to create experiences with both perspectives in mind.
          </p>
          <!-- <a class="button" href="{{case.button_url}}" target="_blank">VIEW MORE ABOUT ME</a> -->
        </div>
        
        <div class="col-sm-12 col-md-6">
          <img class="profile" src="images/profile-pic.png">  
        </div>
      </div>
    </div>
  </section>

  <section class="case-study {{ cases[0].background_color }}">
    <case-study case="cases[0]"></case-study>
  </section>

  <section class="samples">
    <div class="container">
      <div class="row">
        <h5 class="col-sm-12">SAMPLES OF MY WORK</h5>

        <div class="shots">
          <div class="shot col-sm-12 col-md-4" ng-repeat="shot in shots | limitTo : 3 : 0"> 
            <a href="{{ shot.shot_url }}" target="_blank"><img ng-src="{{ shot.thumbnail }}"></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="case-study {{ cases[1].background_color }}">
    <case-study case="cases[1]"></case-study>
  </section>

  <section class="samples">
      <div class="container">
        <div class="row">
          <h5 class="col-sm-12">SAMPLES OF MY WORK</h5>
  
          <div class="shots">
            <div class="shot col-sm-12 col-md-4" ng-repeat="shot in shots | limitTo : 3 : 3"> 
              <a href="{{ shot.shot_url }}" target="_blank"><img ng-src="{{ shot.thumbnail }}"></a>
            </div>
          </div>
          
        </div>
      </div>
  </section> 

  <section class="case-study {{ cases[2].background_color }}">
      <case-study case="cases[2]"></case-study>
  </section>
  
  <section class="samples">
    <div class="container">
      <div class="row">
        <h5 class="col-sm-12">SAMPLES OF MY WORK</h5>

        <div class="shots">
          <div class="shot col-sm-12 col-md-4" ng-repeat="shot in shots | limitTo : 3 : 6"> 
            <a href="{{ shot.shot_url }}" target="_blank"><img ng-src="{{ shot.thumbnail }}"></a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="case-study {{ cases[3].background_color }}">
    <case-study case="cases[3]"></case-study>
  </section>
  
  <section class="samples">
    <div class="container">
      <div class="row">
        <h5 class="col-sm-12">SAMPLES OF MY WORK</h5>

        <div class="shots">
          <div class="shot col-sm-12 col-md-4" ng-repeat="shot in shots | limitTo : 3 : 9"> 
            <a href="{{ shot.shot_url }}" target="_blank"><img ng-src="{{ shot.thumbnail }}"></a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  <!-- <section class="case-study {{ cases[1].background_color }}">
    <case-study case="cases[1]"></case-study>
  </section> -->
  
  <!-- <section class="samples">
    <div class="container">
      <div class="row">
        <h5 class="col-sm-12">SAMPLES OF MY WORK</h5>

        <div class="shots">
          <div class="shot col-sm-4" ng-repeat="shot in shots | limitTo : 3 : 12"> 
            <a href="{{ shot.shot_url }}" target="_blank"><img ng-src="{{ shot.thumbnail }}"></a>
          </div>
        </div>
        
      </div>
    </div>
  </section>  -->

</div>
